<h2>Welcome</h2>

<p>Wecome to KB Restaurant!  Please sign up to our newsletter using either:</p>
<ul>
  <li><a href="/newsletter-signup">Old-school form submission</a>.</li>
  <li><a href="/newsletter">Async form submission (recommended)</a>.</li>
</ul>



